She gave me a little bit of info last week. We have 5 pages she'd like us to make. 1 Home page, 2 menu, 3 About Us, 4 weekly events, 5 social media. The home should be pretty straight forward the restaurant name, location, hours, reservation number, and delivery link to grubhub. Menu should have photos of popular dishes as well as all the food info. About us will be a bit like her Facebook info but we can get more info, at the very least her photo and a quick blerb about the restaurant. Weekly events would be her specials and a calendar, this one will need to be fleshed out more. The final page will be social media which i think should be Facebook and instagram feeds, maybe grubhub and yelp links on there too 